# IDE
.idea

# NodeJS
node_modules
npm-debug.log

# Dependencies


# Temporary folders
temp
.tmp
tests/reports
tempDist

.DS_Store

# App files
**/styles/*.css
FRONTEND.md

# Distribution folders
dist
package

# AI
AGENTS.md
CLAUDE.md